{% load static %}

<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    
    <div class="sidebar-brand">
        <a href="{% url 'inicio' %}" class="brand-link">
            <img src="{% static 'assets/img/AdminLTELogo.png' %}" alt="Logo App Vac" class="brand-image opacity-75 shadow">
            <span class="brand-text fw-light">M.E.B.U.</span>
        </a>
    </div>

    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'usuarios:nuevo' %}" class="nav-link">
                            <i class="nav-icon bi bi-palette"></i>
                            <p>Registrarse</p>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-box-seam-fill"></i>
                            <p>
                                Usuario
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            
                            <li class="nav-item">
                                <a href="{% url 'usuarios:detalle' user.id %}" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Detalles</p>
                                </a>
                            </li>
                            {% if user.is_superuser %}
                                <li class="nav-item">
                                    <a href="{% url 'usuarios:lista' %}" class="nav-link">
                                        <i class="nav-icon bi bi-circle"></i>
                                        <p>Lista</p>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-ui-checks-grid"></i>
                        <p>
                            Cuenta
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        {% if not request.user.cuenta %}
                            <li class="nav-item">
                                <a href="{% url 'cuentas:nuevo' %}" class="nav-link">
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Nuevo</p>
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="{% url 'cuentas:ingresar_dinero' %}" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Ingresar dinero</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{% url 'cuentas:detalle' %}" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Detalle</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-download"></i>
                        <p>
                            Transerencia
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'transaccion:nueva' %}" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Nueva</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'inicio' %}" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Lista</p>
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}

                <li class="nav-header">DOCUMENTACION</li>
                <li class="nav-item">
                    <a href="./docs/faq.html" class="nav-link">
                        <i class="nav-icon bi bi-question-circle-fill"></i>
                        <p>FAQ</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="./docs/license.html" class="nav-link">
                        <i class="nav-icon bi bi-patch-check-fill"></i>
                        <p>License</p>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</aside>