{% extends 'base/base.html' %}

{% block content %}
<p>
    Money Exchange es un sistema web diseñado para facilitar el intercambio de
    dinero entre usuarios registrados. A través de esta plataforma, los usuarios
    pueden visualizar su saldo, realizar transferencias a otros usuarios,
    mantener un historial de movimientos y marcar usuarios frecuentes para
    agilizar futuras transacciones. Además, los administradores tienen acceso a
    herramientas de gestión para la administración de usuarios y motivos de
    transferencia.
</p>
{% endblock content %}