{% extends "base/base.html" %}
{% load custom_filters %}

{% block title_block %}
        Detalles del Usuario
{% endblock title_block %}

{% block css_extras %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock css_extras %}

{% block content %}
<div class="app-content d-flex justify-content-center">
	<div class="col-md-10">
		<div class="card card-primary card-outline mb-4">
            
            <div class="card-header">
                <h5>Usuario: <strong>{{ usuario.get_full_name }}</strong></h5>
                <h5>Saldo: <strong>{{ cuenta.saldo|format_currency }}</strong></h5>
            </div>

            <!-- Contenido principal -->
            <div class="card-body">
                <h5>Transacciones</h5>
                <table class="table table-bordered table-hover" id="resultado-tabla">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tipo</th>
                            <th>Monto</th>
                            <th>Motivo</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaccion in transacciones %}
                        <tr>
                            <td>{{ transaccion.id }}</td>
                            <td>
                                {% if transaccion.tipo == "ingreso" %}
                                    <span class="badge bg-success">Ingreso</span>
                                {% else %}
                                    <span class="badge bg-primary">Transferencia</span>
                                {% endif %}
                            </td>                    
                            <td>{{ transaccion.monto|format_currency }}</td>
                            <td>{{ transaccion.motivo }}</td>
                            <td>{{ transaccion.fecha|date:"d M Y, H:i" }}</td>
                        </tr>
                        {% empty %}
                        <tr class="table-warning">
                            <td colspan="6" class="text-center">No hay transacciones relacionadas.</td>
                        </tr>                
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Paginación -->
            <div class="d-flex justify-content-center">
                {% include "includes/paginacion.html" %}
            </div>
        
        </div>
    </div>
</div>
{% endblock %}