{% extends 'base/base.html' %}

{% block content %}
<h2>Mis Cuentas Frecuentes</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Alias</th>
            <th>Usuario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cuenta in cuentas_frecuentes %}
        <tr>
            <td>{{ cuenta.alias }}</td>
            <td>{{ cuenta.cuenta.usuario.username }}</td>
            <td>
                <a href="{% url 'cuentas:eliminar_cuenta_frecuente' cuenta.pk %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No tienes cuentas frecuentes aún.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'cuentas:agregar_cuenta_frecuente' %}" class="btn btn-primary">Agregar nueva cuenta</a>
{% endblock %}